body{
    color: black;
    font-family: Verdana ,Arial ,Tahoma;
    margin: 30px 50px;
    text-align: justify;
}

.titulo{
    text-align: center;
    width: auto;
    margin: 30px auto;
}

.webpontos{
    font-size: 14px;
}

.tabela{
    margin: auto;
    display: table;
    padding: 15px;
    background-color:rgb(221, 221, 221);
}

table{
    border-radius: 1px; 
    text-align: center;
}

th{
    color: white;
}

thead{
    background-color: rgb(131, 131, 131);
}

tr td{
    padding: 20px;
}

.virtude{
    padding: 9px 80px 9px 9px;
    text-align: left;
}

tbody{
    background-color: rgb(250, 191, 143);
}

sub{
    display: flow-root;
    text-align: end;
    color: rgb(131, 128, 128);
    font-size: 11px;
}

span{
    font-size: 13px;
}

.imagem-1{
    display: table;
    width: auto;
    margin: 0 auto;
}

.embaixodaimagem{
    text-align: center;
    width: auto;
    margin: 30px auto;
}

button{
    display: table;
    width: auto;
    margin: 0 auto;
}