body{
    color: black;
    font-family: Verdana ,Arial ,Tahoma;
    margin: 30px 50px;
    text-align: justify;
}

.titulo{
    text-align: center;
    width: auto;
    margin: 30px auto;
}

.imagem-1{
    display: table;
    width: auto;
    margin: 0 auto;
}

button{
    display: table;
    width: auto;
    margin: 0 auto;
}