body{
    color: black;
    font-family: Tahoma, Verdana ,Arial;
    margin: 30px 50px;
    text-align: justify;
}

.titulo{
    text-align: center;
    width: auto;
    margin: 30px auto;
}

.imagem-1{
    display: table;
    width: auto;
    margin: 0 auto;
}

.imagem-2{
    width: auto;
    margin: 0 10px 0 0;
}

button{
    display: table;
    width: auto;
    margin: 0 auto;
}